.createTask{
    display: flex;
    justify-content: center;
    position: relative;
    top: -2rem;
}

.createTask form {
    display: flex;
    max-width: 736px;
    width: 100%;
    gap: 15px;
}

.createTask input {
    width: 634px;
    height: auto;
    border-radius: 8px;
    padding: 12px;
    background: var(--gray-500);
    color: var(--gray-100);
    border: none;
    outline: none;
}

.btnCreate {
    width: 90px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: var(--blue-dark);
    color: var(--gray-100);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}